{% extends 'details/main.html' %}


{% block content %}
    {% ifequal no_of_friends 0 %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/doodle.css' %}">
    
    <a class="btn btn-dark btn-lg" href="{% url 'newfriends' %}">Find New Friends Here</a>
    <h1 class="doodle">Sorry You don't have any friends</h1>
    
    {% else %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/blink.css' %}">
        <h1 class="blink">FriendList</h1>
        <div class="caveat"><h1>Your Total Friends :: {{no_of_friends}}</h1></div><br>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Full Name</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Profile</th>
              </tr>
            </thead>
            <tbody>
                {% for i in friends %}
                    <tr>
                    {% ifequal  i.profile2.username user.username %}
                        <td class="caveat">{{i.profile1.profile.full_name}}</td>
                        <td class="caveat">{{i.profile1.username}}</td>
                        <td class="caveat">{{i.profile1.profile.email}}</td>
                        <td class="caveat"><a class='btn btn-secondary' href="{% url 'profilepage' i.profile1.id %}">Visit</a></td>

                    {% else %}
                        <td class="caveat">{{i.profile2.profile.full_name}}</td>
                        <td class="caveat">{{i.profile2.username}}</td>
                        <td class="caveat">{{i.profile2.profile.email}}</td>
                        <td class="caveat"><a class='btn btn-secondary'href="{% url 'profilepage' i.profile2.id %}">Visit</a></td>

                    {% endifequal %}
                
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endifequal %}
{% endblock %}